<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- 共通CSS -->
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/lib/highlight/styles/vs2015.css">

<!-- 共通JS -->
<script src="/assets/script/my-env.js"></script>
<script src="/assets/script/mylog.js"></script>
<script src="/assets/lib/highlight/highlight.js"></script>
<script src="/assets/lib/highlight/languages/acl.js"></script>
<script src="/assets/script/breadcrumb.js"></script>
<script src="/assets/script/details-openclose.js"></script>
<script src="/assets/script/common.js"></script>

<!-- FontAwesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />

<!-- Favicon -->
<link rel="icon" href="/assets/pic/hn.ico" type="image/x-icon">
